---
import Layout from "../layouts/Layout.astro";
import HeadingGrid from "../components/grid/HeadingGrid.astro";
import IntroGrid from "../components/grid/IntroGrid.astro";
import BookLink from "../components/links/BookLink.astro";

import { hotels, additionalHotels } from "../meta/hotels";
---

<Layout title="Reserved hotels - Hudson Forum">
  <HeadingGrid>Reserved hotels</HeadingGrid>

  <IntroGrid>
    Event hotels with negotiated rate.
  </IntroGrid>

  <div class="cds--grid">
    <div class="hotel-row cds--row">
      {hotels.map((hotel, index) => (
        <div class:list={["hotel-col cds--col cds--col-sm-4 cds--col-md-8 cds--col-lg-5 cds--col-xlg-5 cds--col-max-5"]}>
          <a href={hotel.image} data-fancybox="gallery" data-caption={hotel.name}>
            <img src={hotel.image} />
          </a>
          <div class="hotel-detail">
            <h2>{hotel.name}</h2>
            <div>
              <address>
                {hotel.addressLine1}<br />
                {hotel.addressLine2}
              </address>
              <div>
                <span>Phone: </span>
                <cds-link href={`tel:${hotel.tel}`}>{hotel.tel}</cds-link>
              </div>
            </div>
            <div>Nightly rate: {hotel.nightlyRate}</div>
            <div>{hotel.description}</div>
            <div>
              <BookLink
                href={hotel.bookingLink}
                deadline={hotel.bookingDeadline}
              />
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>

  <div class="additional-hotels-grid cds--grid">
    <div class="cds--row">
      <div class="cds--col cds--col-sm-4 cds--col-md-8 cds--col-lg-8 cds--col-xlg-8 cds--col-max-8">
        There will be a shuttle service to and from the Hudson Forum from these three hotels. The shuttle departure times for each hotel are listed above. Shuttle leads with signs will be in the lobby of each hotel to direct guest to the shuttles. <strong>Return shuttles will begin at 5:30pm</strong> and the last shuttle will be departing the reception at 7:30pm.
        <br /><br />
        In addition to the three reserved hotels, here are some other nearby hotels:
      </div>

      <div class="cds--col cds--col-sm-4 cds--col-md-8 cds--col-lg-8 cds--col-xlg-12 cds--col-max-12">
        <ul class="grid-list">
          {additionalHotels.map((hotel) => (
            <li>
              <cds-link href={hotel.url}>{hotel.name}</cds-link>
              <div>{hotel.away}</div>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style>
  h2 {
    margin-top: 1rem;
  }

  img {
    max-height: 400px;
  }

  .additional-hotels-grid {
    margin-top: 4rem;
  }

  .grid-list {
    margin-top: 1rem;
    flex-direction: row;
    grid-column-gap: 2rem;
  }

  @media(min-width: 20rem) {
    .hotel-row {
      grid-row-gap: 6rem;
    }

    h2 {
      margin-bottom: 1rem;
    }

    .hotel-detail > div:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  @media(min-width: 42rem) {
    .hotel-detail {
      width: calc(75% - 0.5rem);
    }
  }

  @media(min-width: 66rem) {
    .hotel-detail {
      width: 100%;
    }
  }
</style>
